<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>GeoWordCloud</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GeoWordCloud</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" id="input_place" value="Bremen">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="bt_go">Go!</button>
          </span>
        </div>

        <div id="loading" class="preview"></div>

        <div id="svg" style="margin-top:20px;">
            <span>Intro Text</span>
        </div>
    </div>
</body>

</html>
